<md-card >
    <!--<md-card-title>Symptoms</md-card-title>-->
<div class="sy-container">
    <div class="sy-search">
        <md-input-container class="sy-input">
            <input mdInput placeholder="{{text?.symptoms?.placeholder}}" #stuff type="text" [formControl]="myControl" [mdAutocomplete]="auto" (keyup.enter)="compareInput(stuff.value)">
            <md-hint *ngIf="error" [ngStyle]="{'color': 's'}" align="start">
                {{text?.symptoms?.symptomnotfound}}! 
            </md-hint>
        </md-input-container>

        <md-autocomplete class="ac-parent" #auto="mdAutocomplete">
                <md-option class="ac-item" *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="addSymptom(option)">
                    <span class="ac-left">{{ option.name }}</span>
                    <span class="ac-right">{{text?.symptoms?.add}}</span>
                </md-option>
        </md-autocomplete>

    </div>
    <div class="sy-selection">
        <md-list class="sy-list" *ngFor="let symptom of symptoms">
            <md-list-item class="svartkant">
                <p md-line> {{symptom.name}}</p>
                <p md-line style="color: #0277BD">{{text?.symptoms?.symptom}}</p>
                <md-card-actions>
                    <md-icon class="chip-icon" (click)="_DiagnoseService.removeSymptom(symptom)" style="cursor: pointer;">close</md-icon>
                </md-card-actions>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>    
    </div>
</div>
<!--
    <md-grid-list cols="3" rowHeight="1:1">
        <md-grid-tile style='background: rgba(179,213,230, 0.14)'>
            <div>
                <md-card-content style="padding:0px;">
                    <md-input-container>
                        <input  placeholder="Search symptoms" #stuff type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" (keyup.enter)="compareInput(stuff.value)">
                        <md-hint *ngIf="error" [ngStyle]="{'color': 's'}" align="start">
                            Can't find symptom!    
                        </md-hint>
                    </md-input-container>

                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="addSymptom(option)">
                            {{ option.name }}
                        </md-option>
                    </md-autocomplete>
                   
                </md-card-content>
            </div>
        </md-grid-tile>

        <md-grid-tile>    
             <md-list style="width:90%;">
                <md-list-item class="svartkant" *ngFor="let symptom of symptoms" >
                    <p md-line wrap="hard"> {{symptom.name}} </p>
                    <h3 md-line>Title 1</h3>
                    <md-card-actions><md-icon class="chip-icon" (click)="_DiagnoseService.removeSymptom(symptom)" style="cursor: pointer;">close</md-icon></md-card-actions>
                    <md-divider></md-divider>
                </md-list-item>    
             </md-list>    
        </md-grid-tile>
     
             
                    <md-card style="width:90%;" *ngFor="let symptom of symptoms">
                    <p md-line> {{symptom.name}} </p>
                    <h3 md-line>Title 1</h3>
                    <md-card-actions><md-icon class="chip-icon" (click)="_DiagnoseService.removeSymptom(symptom)" style="cursor: pointer;">close</md-icon></md-card-actions>
    </md-grid-list> -->
</md-card>

      <!--<md-chip-list>
                <md-chip *ngFor="let symptom of symptoms">
                    {{symptom.name}}
                    <button class="chip-button" (click)="_DiagnoseService.removeSymptom(symptom)">
                        <md-icon class="chip-icon" style="cursor: pointer;">close</md-icon>
                    </button>
                    
                </md-chip>
            </md-chip-list>-->
            <!--<md-chip-remove ng-model = "symptom.name">
            </md-chip-remove>-->