<md-card class="search-card">
    <md-card-title>Symptoms</md-card-title>
    <md-card-subtitle>Start typing to find symptoms</md-card-subtitle>
    <md-grid-list cols="3" rowHeight="1:1">
        <md-grid-tile style='background: rgba(179,213,230, 0.14)'>
            <div>
                <md-card-content>
                    <md-input-container>
                        <input  placeholder="Symptoms" #stuff type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" (keyup.enter)="compareInput(stuff.value)">
                        <md-hint *ngIf="error" [ngStyle]="{'color': 's'}" align="start">
                            Maybe you're a hypochondriac
                        </md-hint>
                    </md-input-container>

                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="addSymptom(option)">
                            {{ option.name }}
                        </md-option>
                    </md-autocomplete>
                </md-card-content>
            </div>
        </md-grid-tile>

        <md-grid-tile>
            <md-chip-list>
                <md-chip *ngFor="let symptom of symptoms">
                    {{symptom.name}}
                    <button class="chip-button" (click)="_DiagnoseService.removeSymptom(symptom)">
                        <md-icon class="chip-icon" style="cursor: pointer;">close</md-icon>
                    </button>
                </md-chip>
            </md-chip-list>
        </md-grid-tile>
    </md-grid-list>
</md-card>