<md-card class="feedback">
  <md-card-content>
      <md-card-subtitle>{{text?.feedback?.accuracy}}</md-card-subtitle>
      
      
      <md-radio-group name="Diagnosis" [(ngModel)]="selectedAccuracy" required>
          <md-radio-button class="example-radio-button" *ngFor="let i of yesno" [value]="i">
                {{i}}
            </md-radio-button>
      </md-radio-group>
      <!--<div>Correct diagnosis: {{selectedAccuracy}}</div>-->
     <p> </p>


    <md-input-container style="width:100%;">
        <textarea mdTextareaAutosize mdInput minRows="3" name="Comment" type="Text" placeholder="Comment" (input)="inputUpdate()"></textarea>
    <md-hint align="start"><strong>{{text?.feedback?.personalinfo}}</strong> </md-hint>
    </md-input-container>


    <p> </p>


     <md-card-subtitle>{{text?.feedback?.nextstep}}</md-card-subtitle>
      <md-radio-group [(ngModel)]="selectedTreatment" required>
          <md-radio-button class="example-radio-button" *ngFor="let treatment of treatments" [value]="treatment">
                {{treatment}}
          </md-radio-button>
      </md-radio-group>
      <!--<div class="example-selected-value">Your choice is: {{selectedTreatment}}</div>-->
     <p> </p>
    
  </md-card-content>
</md-card>
