<md-card class="feedback">
  <md-card-content>
      <p>Did the diagnosis seem correct?</p>
      <md-radio-group name="Diagnosis" [(ngModel)]="chosenSex" (change)="inputUpdate()" required>
          <md-radio-button value="male">
              Yes
          </md-radio-button>
          <md-radio-button value="female">
              No
          </md-radio-button>
      </md-radio-group>
     <p> </p>
    <md-input-container style="width:100%;">
        <textarea mdTextareaAutosize mdInput minRows="3" name="Comment" [(ngModel)]="chosenAge" type="Text" placeholder="Comment" (input)="inputUpdate()"></textarea>
    <md-hint align="start"><strong>Don't disclose personal info that relates to a specific patient or information that could be used to identify the patient.</strong> </md-hint>
    </md-input-container>
    
  </md-card-content>
</md-card>