<!--<h1 md-dialog-title color="primary">LOGIN</h1>

<md-input-container required class="example-full-width">
  <input mdInput placeholder="Username" id="username">
</md-input-container>
<md-input-container class="example-full-width">
  <input mdInput type="password" placeholder="Password" id="password">
</md-input-container>

<div md-dialog-actions>
  <button md-raised-button required color="primary" (click)="login()">LOGIN</button>
  <button md-raised-button requiredmd-dialog-close="Option 2">CANCEL</button>
</div>-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button (click)="loginWithGoogle()"><span>Go</span></button>
      </div>
    </form>
  </div>
</div>

<!--<button md-raised-button color="warn" >Open login dialog</button>-->