<md-card>
    <!--<md-card-title>{{text?.agesex?.heading}}</md-card-title>-->
    <md-card-subtitle>{{text?.agesex?.subheading}}</md-card-subtitle>
    <md-card-content>
      <md-input-container class="example-full-width">
          <input style="font-size:18px;" mdInput required min="0" [(ngModel)]="chosenAge" type="number" placeholder="{{text?.agesex?.age}}" (input)="inputUpdate()" required>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-radio-group name="Sex" [(ngModel)]="selectedSex" required>
        <md-radio-button class="example-radio-button" *ngFor="let i of sex" [value]="i.value" (change)="onSelectionChange(i)" >
            {{i.text}}
        </md-radio-button>
    </md-radio-group>
    </md-card-content>
</md-card>


<!--<md-card>
    <md-card-title>{{text.agesex.heading}}</md-card-title>
    <md-card-subtitle>{{text.agesex.subheading}}</md-card-subtitle>
    <md-card-content>
      <md-input-container class="example-full-width">
          <input style="font-size:18px;" mdInput name="age" min="0" [(ngModel)]="chosenAge" type="number" placeholder="{{text.agesex.placeholder}}" (input)="inputUpdate()" required>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-radio-group name="sex" [(ngModel)]="chosenSex" (change)="inputUpdate()" required>
          <md-radio-button value="male">
              {{text.agesex.male}}
          </md-radio-button>
          <md-radio-button value="female">
              {{text.agesex.female}}
          </md-radio-button>
      </md-radio-group>
    </md-card-content>
</md-card>-->