h1{
    color:black;
}


.mat-toolbar.mat-accent {
    background: #00acc1;
    color: white;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #00acc1
}

