/* You can add global styles to this file, and also import other style files */

// MATERIAL THEME:
@import "~@angular/material/theming";
@include mat-core();
$primary: mat-palette($mat-orange, 800);
$accent:  mat-palette($mat-light-blue, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
//Theme end

body{
    font-family: 'Roboto', sans-serif;
}

.autoButton{
    width: 100%;
}