<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Go</span></button>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">

    <md-grid-list cols="1" rowHeight="80px">
        <md-grid-tile>
            <form>
            <div class="input-container">
                <input type="#{type}" id="#{label}" required="required"/>
                <label for="#{label}">Age</label>
                <div class="bar"></div>
            </div>
            </form>
        </md-grid-tile>
        <md-grid-tile>
            <md-radio-group>
                <md-radio-button value="1">Male</md-radio-button>
                <md-radio-button value="2">Female</md-radio-button>
            </md-radio-group>
        </md-grid-tile>
    </md-grid-list>



</div>
</div>
<md-card class="search-card">
    <md-grid-list cols="3" rowHeight="1:1">
        <md-grid-tile style='background: rgba(179,213,230, 0.14)'>
            <div>
                <md-card-content>
                    <md-input-container>
                        <input #stuff type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" (keyup.enter)="compareInput(stuff.value)">
                        <md-hint *ngIf="error" [ngStyle]="{'color': 's'}" align="start">
                            Maybe you're a hypochondriac
                        </md-hint>
                    </md-input-container>

                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="addSymptom(option)">
                            {{ option.name }}
                        </md-option>
                    </md-autocomplete>
                </md-card-content>
            </div>
        </md-grid-tile>

        <md-grid-tile>
            <md-chip-list>
                <md-chip *ngFor="let symptom of symptoms">{{symptom.name}}<button (click)="removeSymptom(symptom.id)"><md-icon>close</md-icon></button></md-chip>
            </md-chip-list>
        </md-grid-tile>
    </md-grid-list>
    <button md-raised-button>Cancel</button>
    <button md-raised-button>NEXT</button>
</md-card>


<!--
<md-autocomplete 
    md-selected-item="selectedItem" 
    md-search-text="searchText" 
    md-items="item in getMatches(searchText)" 
    md-item-text="item.display">
  <md-item-template>
    <span md-highlight-text="searchText">{{item.display}}</span>
  </md-item-template>
  <md-not-found>
    No matches found.
  </md-not-found>
</md-autocomplete>
-->



          