<md-card>
    <md-grid-list cols="1" rowHeight="80px">
        <md-grid-tile>
            <md-input-container>
            <input mdInput placeholder="Age">
            </md-input-container>
        </md-grid-tile>
        <md-grid-tile>
            <md-radio-group>
                <md-radio-button value="1">Male</md-radio-button>
                <md-radio-button value="2">Female</md-radio-button>
            </md-radio-group>
        </md-grid-tile>
    </md-grid-list>
</md-card>



<md-card>
    <md-grid-list cols="2" rowHeight="3:1">
        <md-grid-tile style='background: lightblue;'>
            <div>
                <md-input-container>
                    <input #stuff type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" (keyup.enter)="compareInput(stuff.value)">
                    <md-hint *ngIf="error" [ngStyle]="{'color': 'red'}" align="start">
                        You're a bad boi
                    </md-hint>
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="addSymptom(option)">
                        {{ option.name }}
                    </md-option>
                </md-autocomplete>

            </div>
        </md-grid-tile>

        <md-grid-tile>
            <md-chip-list>
                <md-chip *ngFor="let symptom of symptoms">{{symptom.name}}<button (click)="removeSymptom(symptom.id)"><md-icon>close</md-icon></button></md-chip>
            </md-chip-list>
        </md-grid-tile>
    </md-grid-list>
    <button md-raised-button>Cancel</button>
    <button md-raised-button>NEXT</button>
</md-card>


<!--
<md-autocomplete 
    md-selected-item="selectedItem" 
    md-search-text="searchText" 
    md-items="item in getMatches(searchText)" 
    md-item-text="item.display">
  <md-item-template>
    <span md-highlight-text="searchText">{{item.display}}</span>
  </md-item-template>
  <md-not-found>
    No matches found.
  </md-not-found>
</md-autocomplete>
-->



          