<md-toolbar color="accent">
    <span>Etsimo</span>
    <div *ngIf="isLoggedIn">
        <span><h5>{{user_displayName}}</h5></span>
    </div>
     <!--<span>Logged In: {{user_displayName}} ({{user_email}}) </span></div>-->
    <span class="toolbar-spacer"></span>
    <button class="toolbar-icon" md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>{{text?.home.account}}</span>
        </button>
        <button (click)="logout()" md-menu-item>
            <md-icon>rowing</md-icon>
            <span>Log out</span>
        </button>
    </md-menu>
</md-toolbar>


<app-diagnose></app-diagnose>
<!--<app-login></app-login>-->
