<md-card>
    <md-card-title>Current Step: {{step}}</md-card-title>
    <!--HÄR GÅR BREDCRUMBS-->
    <md-card-content *ngIf="!showButtons">
        <button md-raised-button color="primary" (click)="_DiagnoseService.nextStep()">START</button>
    </md-card-content>

    <md-card-content>

        <app-agesex *ngIf="step === 1"></app-agesex>
        <app-symptoms *ngIf="step === 2"></app-symptoms>
        <app-questions *ngIf="step === 3"></app-questions>
        <app-result *ngIf="step === 4"></app-result>
        <app-feedback *ngIf="step === 5"></app-feedback>

    </md-card-content>
    
    <md-card-actions *ngIf="showButtons">
        <button md-raised-button color="primary" [disabled]="prevIsDisabled" (click)="_DiagnoseService.previousStep()">PREVIOUS</button>
        <button md-raised-button color="primary" [disabled]="nextIsDisabled" (click)="_DiagnoseService.nextStep()">NEXT</button>
  </md-card-actions>
</md-card>

